
    body {
    font-size: 24px;
    text-align: center;
    }

    input {
    font-size: 24px;
    width: 150px;
    padding: 10px;
    }

    button {
    font-size: 24px;
    padding: 15px 30px;
    margin: 20px;
    }

    table {
    margin: auto;
    border-collapse: collapse;
    }

    td {
    border: 2px solid black;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 24px;
    }

    .boy{
        background-color: lightblue;
    }
    .girl{
        background-color: lightpink;
    }
 